.detailsItem {
    height: 50px;
    width: 100%;
    display: flex;
    background-color: #ffffff;
    border-bottom: 2px solid #4f90c99a;
}

.detailsMain {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

.detailsName {
    width: 300px;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.detailsValue {
    width: calc(100%-300px);
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
}

.detailsImgDiv {
    width: 100%;
    padding: 50px 30px;
    height: 300px;
    position: relative;
}

.detailsImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid black;
    background-color: cadetblue;
}

.detailsImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.detailsBack {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    display: block;
    left: 20px;
    top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.detailsNoImg {
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    transform: translate(-50%, -50%);
}