@keyframes rotate {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
}



.Geolocation {
    border: 1px solid #00000050;
    width: 400px;
    height: 250px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 300px;
    background-color: #fff;
}

.Geolocation button {
    padding: 10px;
    background: none;
    border: none;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.Geolocation button:hover {
    color:cadetblue;
}


.geoHeader {
    border-bottom: 2px solid white;
    margin: 0;
    padding: 10px 0;
    display: block;
    background: cadetblue;
    color: white;
}


.geoAbout {
    height: 140px;
    display: block;
    margin: 0;
    padding: 30px 20px;
    color: #8c8c8c;
    position: relative;
}

.AnimationCircle {
    width: 80px;
    height: 80px;
    border: 5px solid cadetblue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border-bottom: 5px solid #bfbfbf;
    animation: rotate 500ms infinite ease-in-out;
}