.planeListItem {
    overflow: hidden;
    width: 90%;
    height: 50px;
    background-color: #fff;
    color: black;
    border: 1px solid #4f90c99a;
    margin: 0 auto;
    display: flex;
    cursor: pointer;
}

.planeListItem:hover {
    background-color: #f1f1f1;
}

.planeId {
    height: 50px;
    line-height: 50px;
    text-align: right;
    width: 80px;
    padding-right: 10px;
    font-weight: bold;
    border-right: 2px solid #eaeaea;
}

.planeCompanyName {
    height: 50px;
    padding: 0 10px;
    line-height: 50px;
    text-align: left;
    width: calc(100% - 450px);
    border-right: 2px solid #eaeaea;
}

.planeWebsite {
    width: 220px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-right: 2px solid #eaeaea;
}

.planeDate {
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}